.container1{
    background-image: url(Images/shyam-INz3Hcue6pY-unsplash.jpg);
    background-size: cover;
    text-align: center;
    font-size: xx-large;
    height: 500px;
}

.container1>p{
    font-style: italic;
  
}

#sheds{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    background-color: grey;
}