*{
    margin: 0;

}
.container1{
    background-image: url(Images/jakob-cotton-00z6-wRHEYU-unsplash.jpg);
    background-size: cover;
    text-align: center;
    font-size: xx-large;
    height: 500px;
}

.container1>p{
    font-style: italic;
  
}

.sheds{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    
}

.container2{
    display: flex;
    justify-content: space-between;
}

.Rate{
    display: flex;
    flex-direction: column;
}
.overtime{
    display: flex;
    flex-direction: column;
}
